<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title> Provide Information</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<div id="wrapper">
	 <div class="Hcontainer">
            <div id="header">
                <a class="logo"><img src='img/logo.png'width='27px' height='27px'></a>
                <div>
                    <ul class="menu">
                        <li class="menuitem selected-item"><a href=”#”>Home</a>
                 
                        
                        
                        </li>

                        <li class="menuitem"><a href=”#”>Discover</a>   <div class=" menu-drop menu-drop1">    <div class="select-values-wrapper ">
                             <div class="menu1-image"></div>
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Trips by Season</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Go Lucky</div>
					</div>
				
				</div>
                            </div></div></li>
                        <li class="menuitem H-menuitem "><a href=”#”>Profile</a>
                        
                          <div class=" menu-drop menu-drop2">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">My Trips</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Create Itinerary</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Dashboard</div>
					</div>
				
				</div>
                              <div class="menu-logout">Logout</div>
                            </div></div>
                        </li>
                        <li class="menuitem curr-menuitem">
                           AED<img class="m-arrow" src="img/mar.svg">
                                     <div class=" menu-drop menu-drop3">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">AED</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">USD</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">GBP</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">INR</div>
					</div>
				
				</div>
                           
                            </div></div>
                        </li>
                <li class="menu-trip">
                        <div class="cart menuitem "><img src="img/cart.svg"> </div>
                        <div class="cart-no menuitem  menu-trip">0</div>
                        <div class="bell menuitem  menu-trip"><img src="img/bell.svg"> </div>
                        <div class="bell-no menuitem  menu-trip">0</div>
                    
                                <div class=" menu-drop menu-drop3">  
                                    <div class="cart-drop-notch"></div>
                                    <div class="cart-drop">
                                    trip you’re planning
                                    
                                    </div>
                            
                    </div>
                        </li>
                            </ul>

                </div>


            </div>
        </div>
		<div id="divider"></div>
		<div class="container">
			<div id="section1">
				<div class="cover">

					<div class="cover-notch">
						<div class="cover-dp"></div>
						<a class="cover-name">Ryan Shirley </a><a class="cover-handle">@ryan.shirley</a>
					</div>

				</div>
			</div>
			<div id="section2">
				<div class="night">
					3 Nights
				</div>
				<div class="tagline-container">
					<h1 class="tagline">Experience True and Authentic Arabia</h1>
					<div class="locations">Zakynthos, Metora and Athens</div>
				</div>
				   <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Informations and Checkout</div>
                    <div class="prof-subtitle">Please fill out the particulars correctly as per records from the respective holders</div>
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            <div class="prof-prog">Progress
                                <h>1/3</h>
                            </div>
                            <div class="prof-steps">
                                <div class="prof-step pref-sel">
                                    Contact Information
                                </div>
                                <div class="prof-step">Add Members (Travelers)</div>
                                <div class="prof-step">Add Payment Options</div>
                            </div>
                            <div id="divider"></div>

                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                            <div class="input-box">
                                <p class="input-label">First Name</p>
                                <input class="textI " name="iter-title" value="Ryan" type="text"></div>
                            <div class="input-box">
                                <p class="input-label">Surname</p>
                                <input class="textI " name="iter-title" value="Shirley" type="text"></div>
                            <div class="pref-twocol">
                                <div class="input-box ph-no">
                                    <p class="input-label">Phone Number</p>
                                    <input class="textI " name="iter-title" value="+971   50   7947   315" type="text"></div>
                                <div class="input-box em-box">
                                    <p class="input-label">Email Address</p>
                                    <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                            </div>
                            <div class="input-box">
                                <p class="input-label">Complete Address</p>
                                <input class="textI " name="iter-title" value="193, Laguna Beach, California, USA" type="text"></div>
                            <div class="input-box">
                                <div class="input-box">
                                <p class="input-label">Nationality</p>
                                <input class="textI " name="iter-title" value="United States" type="text"></div>
                            

                        </div>
                    </div>
                </div>
            </div>
                <div class="prof-btn">Next Step</div>
        </div>
            </div>
        </div>
    </div>
    	<div class="footer-space"></div>
	<div id="footer">
		<div id="divider"></div>
        <div class="footer-inner">
            <div class="footer-text">You Pay    <h>AED 550</h> </div>
		<button class="pref-submit">Make Payment</button>
        </div>
	</div>
    
    </body>
</html>