<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title> Provide Information</title>
	<link rel="stylesheet" type="text/css" href="css/profinfo.css" />



</head>

<body>
	<div id="wrapper">
	 <div class="Hcontainer">
            <div id="header">
                <a class="logo"><img src='img/logo.png'width='27px' height='27px'></a>
                <div>
                    <ul class="menu">
                        <li class="menuitem selected-item"><a href=”#”>Home</a>
                 
                        
                        
                        </li>

                        <li class="menuitem"><a href=”#”>Discover</a>   <div class=" menu-drop menu-drop1">    <div class="select-values-wrapper ">
                             <div class="menu1-image"></div>
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Trips by Season</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Go Lucky</div>
					</div>
				
				</div>
                            </div></div></li>
                        <li class="menuitem H-menuitem "><a href=”#”>Profile</a>
                        
                          <div class=" menu-drop menu-drop2">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">My Trips</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Create Itinerary</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Dashboard</div>
					</div>
				
				</div>
                              <div class="menu-logout">Logout</div>
                            </div></div>
                        </li>
                        <li class="menuitem curr-menuitem">
                           AED<img class="m-arrow" src="img/mar.svg">
                                     <div class=" menu-drop menu-drop3">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">AED</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">USD</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">GBP</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">INR</div>
					</div>
				
				</div>
                           
                            </div></div>
                        </li>
                <li class="menu-trip">
                        <div class="cart menuitem "><img src="img/cart.svg"> </div>
                        <div class="cart-no menuitem  menu-trip">0</div>
                        <div class="bell menuitem  menu-trip"><img src="img/bell.svg"> </div>
                        <div class="bell-no menuitem  menu-trip">0</div>
                    
                                <div class=" menu-drop menu-drop3">  
                                    <div class="cart-drop-notch"></div>
                                    <div class="cart-drop">
                                    trip you’re planning
                                    
                                    </div>
                            
                    </div>
                        </li>
                            </ul>

                </div>


            </div>
        </div>
        	<div id="divider"></div>
        <div class="container">
         <div id="section1">
                <div class="cover">
                    
                    <div class="cover-notch">
                        <div class="cover-dp"></div>
                        <a class="cover-name">Ryan Shirley </a><a class="cover-handle">@ryan.shirley</a>
                    </div>
                  
                </div>
            </div>
            <div id="divider" class="prof-divider"></div>
            	<div class="trip-component">
				<div class="trip-heading">
					<h1 class="ttitle"> Recommended Trips</h1>
					<a href="#" id="show-more">show all (12)</a>
				</div>
				<div class="trip-carousal">
					<div class="trip-container">
						<div class="photo">
						</div>

						<div class="tr-nights "> 3 nights</div>
						<h1 class="trip-title">Experience True and Authentic Greece</h1>
						<p class="trip-creater">By Ryan Shirley</p>
						<div class="trip-price">1250</div>
						<div class="trip-curr">AED</div>
					</div>
					<div class="trip-container">
						<div class="photo">
						</div>

						<div class="tr-nights "> 3 nights</div>
						<h1 class="trip-title">Experience True and Authentic Greece</h1>
						<p class="trip-creater">By Ryan Shirley</p>
						<div class="trip-price">1250</div>
						<div class="trip-curr">AED</div>
					</div>
					<div class="trip-container">
						<div class="photo">
						</div>

						<div class="tr-nights "> 3 nights</div>
						<h1 class="trip-title">Experience True and Authentic Greece</h1>
						<p class="trip-creater">By Ryan Shirley</p>
						<div class="trip-price">1250</div>
						<div class="trip-curr">AED</div>
					</div>
					<div class="trip-container trip-containerl">
						<div class="photo">
						</div>

						<div class="tr-nights "> 3 nights</div>
						<h1 class="trip-title">Experience True and Authentic Greece</h1>
						<p class="trip-creater">By Ryan Shirley</p>
						<div class="trip-price">1250</div>
						<div class="trip-curr">AED</div>
					</div>

				</div>
			</div>
            <div id="section3">
                <div id="divider"></div>
                <h1 class="Type-1 pref-heading">Customize Trip based on your Interests and Preferences?</h1>

                <div class="pref-container">
                    <div class=" flex-container">
                        <div class="pref-box">
                            <div class="bl-title">International Transfers</div>
                            <ul class="pref-list">
                                <li>Flights</li>
                            </ul>
                        </div>
                        <div class="pref-box">
                            <div class="bl-title">Local Transportation</div>
                            <ul class="pref-list">
                                <li>Google Maps</li>
                            </ul>
                        </div>
                        <div class="pref-box">
                            <div class="bl-title">Hotels</div>
                            <ul class="pref-list">
                                <li>Budget Hotels</li>
                            </ul>
                        </div>
                        <div class="pref-box pref-box-r ">
                            <div class="bl-title">Activities</div>
                            <ul class="pref-list">
                                <li>Family Holidays</li>
                                <li>Adventure</li>
                                <li>Hiking</li>
                            </ul>
                        </div>
						 <div class="pref-box pref-box-r ">
                            <div class="bl-title">Food</div>
                            <ul class="pref-list">
                                <li>Local Cuisine</li>
                                <li>Indian</li>
                                <li>Chinese</li>
                            </ul>
                        </div>
                    </div>
                   

                </div>
                
                </div>
            
             <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Informations and Checkout</div>
                    <div class="prof-subtitle">Please fill out the particulars correctly as per records from the respective holders</div>
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            <div class="prof-prog">Progress
                                <h>1/3</h>
                            </div>
                            <div class="prof-steps">
                                <div class="prof-step pref-sel">
                                    Contact Information
                                </div>
                                <div class="prof-step">Add Members (Travelers)</div>
                                <div class="prof-step">Add Payment Options</div>
                            </div>
                            <div id="divider"></div>

                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                            <div class="input-box">
                                <p class="input-label">First Name</p>
                                <input class="textI " name="iter-title" value="Ryan" type="text"></div>
                            <div class="input-box">
                                <p class="input-label">Surname</p>
                                <input class="textI " name="iter-title" value="Shirley" type="text"></div>
                            <div class="pref-twocol">
                                <div class="input-box ph-no">
                                    <p class="input-label">Phone Number</p>
                                    <input class="textI " name="iter-title" value="+971   50   7947   315" type="text"></div>
                                <div class="input-box em-box">
                                    <p class="input-label">Email Address</p>
                                    <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                            </div>
                            <div class="input-box">
                                <p class="input-label">Complete Address</p>
                                <input class="textI " name="iter-title" value="193, Laguna Beach, California, USA" type="text"></div>
                            <div class="input-box">
                                <div class="input-box">
                                <p class="input-label">Nationality</p>
                                <input class="textI " name="iter-title" value="United States" type="text"></div>
                            

                        </div>
                    </div>
                </div>
            </div>
                <div class="prof-btn">Next Step</div>
        </div>
                  <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Settings</div>
                 
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            
                            <div class="sett-steps">
                                <div class="sett-step  ">
                                   Privacy and Cookies Policy
                                </div>
                                <div class="sett-step sett-done ">Change Password</div>
                                <div class="sett-step">Change Currency and Location</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                           <div class="input-box ">
                                <p class="input-label">Exsisting Password</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley      " type="password"></div>
                            <div class="input-box ">
                                <p class="input-label">New Password</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley" type="password"></div>
                        
                        </div>
                    </div>
                </div>
                    <div class="prof-btn">Save New Password</div>
            </div>
             
            
        </div>
        
	
    </div></body></html>