<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Provide Information</title>
    <link href="css/prof-info-comp.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
    <div class="wrapper">
        <div class="container">

            <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Informations and Checkout</div>
                    <div class="prof-subtitle">Please fill out the particulars correctly as per records from the respective holders</div>
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            <div class="prof-prog">Progress
                                <h>1/3</h>
                            </div>
                            <div class="prof-steps">
                                <div class="prof-step pref-sel">
                                    Contact Information
                                </div>
                                <div class="prof-step">Add Members (Travelers)</div>
                                <div class="prof-step">Add Payment Options</div>
                            </div>
                            <div id="divider"></div>

                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                            <div class="input-box">
                                <p class="input-label">First Name</p>
                                <input class="textI " name="iter-title" value="Ryan" type="text"></div>
                            <div class="input-box">
                                <p class="input-label">Surname</p>
                                <input class="textI " name="iter-title" value="Shirley" type="text"></div>
                            <div class="pref-twocol">
                                <div class="input-box ph-no">
                                    <p class="input-label">Phone Number</p>
                                    <input class="textI " name="iter-title" value="+971   50   7947   315" type="text"></div>
                                <div class="input-box em-box">
                                    <p class="input-label">Email Address</p>
                                    <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                            </div>
                            <div class="input-box">
                                <p class="input-label">Complete Address</p>
                                <input class="textI " name="iter-title" value="193, Laguna Beach, California, USA" type="text"></div>
                            <div class="input-box">
                                <div class="input-box">
                                <p class="input-label">Nationality</p>
                                <input class="textI " name="iter-title" value="United States" type="text"></div>
                            

                        </div>
                    </div>
                </div>
            </div>
                <div class="prof-btn">Next Step</div>
        </div>
             <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Informations and Checkout</div>
                    <div class="prof-subtitle">Please fill out the particulars correctly as per records from the respective holders</div>
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            <div class="prof-prog">Progress
                                <h>2/3</h>
                            </div>
                            <div class="prof-steps">
                                <div class="prof-step  pref-done">
                                    Contact Information
                                </div>
                                <div class="prof-step pref-sel">Add Members (Travelers)</div>
                                <div class="prof-step">Add Payment Options</div>
                            </div>
                            <div id="divider"></div>
                            <div class="next-trav">Add New Traveler</div>
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                            <div class="tra-heading">Traveler 1</div>
                            <div class="input-box">
                                <p class="input-label">First Name</p>
                                <input class="textI " name="iter-title" value="Ryan" type="text"></div>
                            <div class="input-box">
                                <p class="input-label">Surname</p>
                                <input class="textI " name="iter-title" value="Shirley" type="text"></div>
                            <div class="pref-twocol">
                                <div class="input-box ph-no">
                                    <p class="input-label">Phone Number</p>
                                    <input class="textI " name="iter-title" value="+971   50   7947   315" type="text"></div>
                                <div class="input-box em-box">
                                    <p class="input-label">Email Address</p>
                                    <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                            </div>
                
                            

                        </div>
                    </div>
                </div>    <div class="prof-btn">Next Step</div>
            </div>
            
            
            
            
             <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Informations and Checkout</div>
                    <div class="prof-subtitle">Please fill out the particulars correctly as per records from the respective holders</div>
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            <div class="prof-prog">Progress
                                <h>2/3</h>
                            </div>
                            <div class="prof-steps">
                                <div class="prof-step  pref-done">
                                    Contact Information
                                </div>
                                <div class="prof-step pref-sel">Add Members (Travelers)</div>
                                <div class="prof-step">Add Payment Options</div>
                            </div>
                            <div id="divider"></div>
                            <div class="next-trav">Add New Card</div>
                            <div class="rem-card">Remove Active Card</div>
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-cards-container">
                            <div class="cards-row">
                                 <div class="prof-card-box">
                                    <div class="prof-card">
                                        <div class="card-info">
                                            <div class="card-info-title">Card Number</div>
                                            <div class="card-value">0000	0000	0000	0000</div>
                                        </div>
                                        <div class="card-e-cvv">
                                             <div class="card-info-e">
                                            <div class="card-info-title">Expiry</div>
                                            <div class="card-value">MM/ YYYY</div>
                                        </div>
                                             <div class="card-info-cvv">
                                            <div class="card-info-title">CVV</div>
                                            <div class="card-value">0010</div>
                                        </div>
                                        </div>
                                     
                                     </div>
                                      <div class="input-box ">
                                <p class="input-label">Full Name (As Per Card)</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley" type="text"></div>
                                </div>
                                
                                 <div class="prof-card-box">
                                    <div class="prof-card">
                                       <div class="card-info">
                                            <div class="card-info-title">Card Number</div>
                                            <div class="card-value">0000	0000	0000	0000</div>
                                        </div>
                                        <div class="card-e-cvv">
                                             <div class="card-info-e">
                                            <div class="card-info-title">Expiry</div>
                                            <div class="card-value">MM/ YYYY</div>
                                        </div>
                                             <div class="card-info-cvv">
                                            <div class="card-info-title">CVV</div>
                                            <div class="card-value">0010</div>
                                        </div>
                                        </div>
                                     </div>
                                      <div class="input-box ">
                                <p class="input-label">Full Name (As Per Card)</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley" type="text"></div>
                                </div>
                            
                            </div>
                        
                        </div>
                    </div>
                </div>          <div class="prof-btn">Save Information and Proceed</div>
            </div>
      
            
            
             <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Settings</div>
                 
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            
                            <div class="sett-steps">
                                <div class="sett-step  sett-done">
                                   Privacy and Cookies Policy
                                </div>
                                <div class="sett-step ">Change Password</div>
                                <div class="sett-step">Change Currency and Location</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                            <div class="prof-sett-button">Privacy Policy</div>
                            <div class="prof-sett-button">Cookies Statement</div>
                            <div class="prof-sett-button">Terms and Conditions</div>
                        
                        </div>
                    </div>
                </div>
            </div>
            
            
               <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Settings</div>
                 
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            
                            <div class="sett-steps">
                                <div class="sett-step  ">
                                   Privacy and Cookies Policy
                                </div>
                                <div class="sett-step sett-done ">Change Password</div>
                                <div class="sett-step">Change Currency and Location</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="prof-form">
                           <div class="input-box ">
                                <p class="input-label">Exsisting Password</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley      " type="password"></div>
                            <div class="input-box ">
                                <p class="input-label">New Password</p>
                                <input class="textI " name="iter-title" value="Ryan Shirley" type="password"></div>
                        
                        </div>
                    </div>
                </div>
                    <div class="prof-btn">Save New Password</div>
            </div>
             
            
            
            
                <div class="prin-container">
                <div id="divider"></div>
                <div class="prof-heading">
                    <div class="prof-title">Settings</div>
                 
                </div>
                <div class="prof-table">
                    <div class="pref-col1">
                        <div class="pref-col1-inner">
                            
                            <div class="sett-steps">
                                <div class="sett-step  ">
                                   Privacy and Cookies Policy
                                </div>
                                <div class="sett-step  ">Change Password</div>
                                <div class="sett-step sett-done">Change Currency and Location</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pref-col2">

                    </div>
                    <div class="pref-col3">
                        <div class="sett-form">
                            <div class="twocol">
                           <div class=" input-box">
				<p class="input-label">Change Currency</p>
				<div class="sh-box  ">
                    <div class="textI ddate"><h>AED</h>		United Arab Emirates Dihrams </div>
					<svg class="drpar" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>674B890E-CFF7-4A73-A6B8-46E1D74714F0</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1"  fill-rule="evenodd">
        <g id="Assets" transform="translate(-964.000000, -205.000000)"  >
            <polygon id="Shape-Copy-7" transform="translate(971.600000, 209.900000) rotate(-270.000000) translate(-971.600000, -209.900000) " points="968.521507 202.3 966.8 204.092345 972.817432 209.903883 966.8 215.707667 968.521507 217.5 975.469469 210.796189 976.4 209.903883 975.469469 209.003836"></polygon>
        </g>
    </g>
</svg>
                               </div></div></div>
                        
                        </div>
                    </div>
                </div> <div class="prof-btn">Save Currency</div>
            </div>
             
        </div>
        </div>

</body>

</html>
