<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Provide Information</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   
</head>

<body>
    <div id="wrapper">
	 <div class="Hcontainer">
            <div id="header">
                <a class="logo"><img src='img/logo.png'width='27px' height='27px'></a>
                <div>
                    <ul class="menu">
                        <li class="menuitem selected-item"><a href=”#”>Home</a>
                 
                        
                        
                        </li>

                        <li class="menuitem"><a href=”#”>Discover</a>   <div class=" menu-drop menu-drop1">    <div class="select-values-wrapper ">
                             <div class="menu1-image"></div>
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Trips by Season</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Go Lucky</div>
					</div>
				
				</div>
                            </div></div></li>
                        <li class="menuitem H-menuitem "><a href=”#”>Profile</a>
                        
                          <div class=" menu-drop menu-drop2">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">My Trips</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Create Itinerary</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">Dashboard</div>
					</div>
				
				</div>
                              <div class="menu-logout">Logout</div>
                            </div></div>
                        </li>
                        <li class="menuitem curr-menuitem">
                           AED<img class="m-arrow" src="img/mar.svg">
                                     <div class=" menu-drop menu-drop3">    <div class="select-values-wrapper ">
                            
				<div class="select-values-container">
                    
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">AED</div>
					</div>
					<div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">USD</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">GBP</div>
					</div>
                    <div class="select-value-wrapper">
						<div class="value-border"></div>
						<div class="value">INR</div>
					</div>
				
				</div>
                           
                            </div></div>
                        </li>
                <li class="menu-trip">
                        <div class="cart menuitem "><img src="img/cart.svg"> </div>
                        <div class="cart-no menuitem  menu-trip">0</div>
                        <div class="bell menuitem  menu-trip"><img src="img/bell.svg"> </div>
                        <div class="bell-no menuitem  menu-trip">0</div>
                    
                                <div class=" menu-drop menu-drop3">  
                                    <div class="cart-drop-notch"></div>
                                    <div class="cart-drop">
                                    trip you’re planning
                                    
                                    </div>
                            
                    </div>
                        </li>
                            </ul>

                </div>


            </div>
        </div>
        <div id="divider"></div>
        <div class="container">
            <div id="section1">
                <div class="cover">
                    
                    <div class="cover-notch">
                        <div class="cover-dp"></div>
                        <a class="cover-name">Ryan Shirley </a><a class="cover-handle">@ryan.shirley</a>
                    </div>
                  
                </div>
            </div>
            <div id="section2">
                <div class="night">
                3 Nights
                </div>
                <div class="tagline-container">
                    <h1 class="tagline">Experience True and Authentic Arabia</h1>
                    <div class="locations">Zakynthos, Metora and Athens</div>
                </div>
                <div class="flex-container">
                    <div class="div1">
<form action="/adding" method="post">
<div class="form-container">
		<div class="input-box">
			<p class="input-label" id="rajm">Enter Departure City</p>
            <input class="textI" id="myInput" name="Destination" placeholder="Dubai" type="text">
           
               
        </div>
           

		<div class="twocol">
			<div class="input-box">
				<p class="input-label">Enter Departure Date</p>
				<div class="sh-box  ">
					<input class="textI ddate" name="ddate" value="09/02/2018" type="date"></input>
				<!--	<svg class="drpar" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     //Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch 
    <title>674B890E-CFF7-4A73-A6B8-46E1D74714F0</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1"  fill-rule="evenodd">
        <g id="Assets" transform="translate(-964.000000, -205.000000)"  >
            <polygon id="Shape-Copy-7" transform="translate(971.600000, 209.900000) rotate(-270.000000) translate(-971.600000, -209.900000) " points="968.521507 202.3 966.8 204.092345 972.817432 209.903883 966.8 215.707667 968.521507 217.5 975.469469 210.796189 976.4 209.903883 975.469469 209.003836"></polygon>
        </g>
    </g>
</svg>-->
				</div>
			</div>
            <div class="input-box">
				<p class="input-label">Passengers</p>
				<div class="sh-box " onclick="pass('adult1','child1')" ondblclick="hide('adult1','child1')">
					<div class="textI passengers"><span id="adc" name="bade">0</span> Adults <span id="chc" name="bacche">0</span> Child</div>
					<svg class="drpar" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>674B890E-CFF7-4A73-A6B8-46E1D74714F0</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1"  fill-rule="evenodd">
        <g id="Assets" transform="translate(-964.000000, -205.000000)"  >
            <polygon id="Shape-Copy-7" transform="translate(971.600000, 209.900000) rotate(-270.000000) translate(-971.600000, -209.900000) " points="968.521507 202.3 966.8 204.092345 972.817432 209.903883 966.8 215.707667 968.521507 217.5 975.469469 210.796189 976.4 209.903883 975.469469 209.003836"></polygon>
        </g>
    </g>
</svg>

                </div>
                <input type="text" hidden value="0" name="adultplus" id="testing">
                <input type="text" hidden value="0" name="adultminus" id="testing1">
                <input type="text" hidden value="0" name="childplus" id="testing2">
                <input type="text" hidden value="0" name="childminus" id="testing3">
				<div class="passenger-sel-wrapper" id="adult1">
					<div class="passenger-sel-container">
						<div class="tt">Adults</div>
						<div class="sel-counter">
                                <red onclick="subs('adc','adopc','testing1')" >-</red> 
                                <span id="adopc">0</span>
                                <plus onclick="add('adc','adopc','testing')">+</plus>
						</div>
					</div>
				</div>
				<div class="passenger-sel-wrapper" id="child1">
					<div class="passenger-sel-container">
						<div class="tt">Children</div>
						<div class="sel-counter">
                                <red onclick="subs('chc','ccopc','testing3')">-</red> 
                                <span id="ccopc">0</span>
                                <plus onclick="add('chc','ccopc','testing2')">+</plus>
                            
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-box passengers">
			<p class="input-label">Number of Rooms</p>
			<div class="sh-box ">
				<div class="textI passengers" onclick="pass('paxcon','roomcon')" ondblclick="hide('paxcon','roomcon')"><span id="pasn">0 </span> Passengers <span id="romn">0</span> Room </div>
				<svg class="drpar" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>674B890E-CFF7-4A73-A6B8-46E1D74714F0</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1"  fill-rule="evenodd">
        <g id="Assets" transform="translate(-964.000000, -205.000000)"  >
            <polygon id="Shape-Copy-7" transform="translate(971.600000, 209.900000) rotate(-270.000000) translate(-971.600000, -209.900000) " points="968.521507 202.3 966.8 204.092345 972.817432 209.903883 966.8 215.707667 968.521507 217.5 975.469469 210.796189 976.4 209.903883 975.469469 209.003836"></polygon>
        </g>
    </g>
</svg>

            </div>
            <input type="text" hidden value="0" name="passplus" id="testing4">
                <input type="text" hidden value="0" name="passminus" id="testing5">
                <input type="text" hidden value="0" name="roomplus" id="testing6">
                <input type="text" hidden value="0" name="roomminus" id="testing7">
			<div class="passenger-sel-wrapper blue-back" id="paxcon">
				<div class="passenger-sel-container">
					<div class="tt">Pax</div>
					<div class="sel-counter">
                            <red onclick="subs('pasn','pasop','testing5')">-</red> 
                            <span id="pasop">0</span>
                            <plus onclick="add('pasn','pasop','testing4')">+</plus>

                        
					</div>
				</div>
			</div>
			<div class="passenger-sel-wrapper" id="roomcon">
				<div class="passenger-sel-container">
					<div class="tt">Rooms</div>
					<div class="sel-counter">

                            <red onclick="subs('romn','romop','testing7')">-</red> 
                            <span id="romop">0</span>
                            <plus onclick="add('romn','romop','testing6')">+</plus>
                        
					</div>
				</div>
			</div>
		</div>
		

        </div>
                    </div>
                    <div class="div2"><img class="map" src="./img/map.png"></div>
                </div>
            </div>
            <div id="section3">
                <div id="divider"></div>
                <h1 class="Type-1 pref-heading">Customize Trip based on your Interests and Preferences?</h1>

                <div class="pref-container">
                    <div class=" flex-container">
                        <div class="pref-box">
                            <div class="bl-title">International Transfers</div>
                            <ul class="pref-list">
                                <li>Flights</li>
                            </ul>
                        </div>
                        <div class="pref-box">
                            <div class="bl-title">Local Transportation</div>
                            <ul class="pref-list">
                                <li>Google Maps</li>
                            </ul>
                        </div>
                        <div class="pref-box">
                            <div class="bl-title">Hotels</div>
                            <ul class="pref-list">
                                <li>Budget Hotels</li>
                            </ul>
                        </div>
                        <div class="pref-box pref-box-r ">
                            <div class="bl-title">Activities</div>
                            <ul class="pref-list">
                                <li>Family Holidays</li>
                                <li>Adventure</li>
                                <li>Hiking</li>
                            </ul>
                        </div>
						 <div class="pref-box pref-box-r ">
                            <div class="bl-title">Food</div>
                            <ul class="pref-list">
                                <li>Local Cuisine</li>
                                <li>Indian</li>
                                <li>Chinese</li>
                            </ul>
                        </div>
                    </div>
                   

                </div>
                <div class="pref-opt">
                    <div class="Type">Use Interests and Preferences</div>
                    <div class="pref-button">
                        <svg class="pref-ckeck"width="10px" height="8px" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                    </div>
                </div>
                </div>
     </div>   
	<div class="footer-space"></div>
	<div id="footer">
		<div id="divider"></div>
        <div class="footer-inner">
            <div class="footer-text"><h>Up Next</h>: Book your Flights</div>
		<button type="submit" class="pref-submit">Next Step</button>
        </div>
    </div>
</form>

    <script src="js/info.js"></script>
    
       
</body>
</html>