@font-face {
  font-family: "Objectivity";
  src: url("font/Objectivity-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Objectivity-Bold";
  src: url("font/Objectivity-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Objectivity-Medium";
  src: url("font/Objectivity-Medium.woff2") format("woff2"); }
@font-face {
  font-family: "Objectivity-Regular";
  src: url("font/Objectivity-Thin.woff2") format("woff2"); }
h1 {
  font-family: Objectivity-Medium; }

/* Color palette */
input:focus, textarea:focus {
  outline: none; }

body {
  margin: 0; }

#divider {
  width: 100%;
  border-bottom: solid 1px #e1e1e1e0; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }
  .flex-container .div2 {
    margin-left: auto; }

.container {
  max-width: 946px;
  margin: auto; }

#section1 {
  margin-top: 41px; }

.footer-space {
  width: 100%;
  height: 130px !important; }

.pref-submit {
  float: right;
  cursor: pointer;
  color: #ffffff;
  font-family: Objectivity-Bold;
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 500;
  width: 285px;
  border: 0;
  border-radius: 8px;
  background-color: #05dcb7;
  box-shadow: 1px 4px 12px 1px rgba(197, 197, 197, 0.5); }

#footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 130px; }

.footer-text {
  float: left;
  padding-top: 12px;
  font-family: Objectivity-Medium;
  font-size: 15.6px;
  color: #05c5a4; }
  .footer-text h {
    margin-left: 20px;
    font-family: Objectivity-Bold; }

.footer-inner {
  width: 951px;
  height: fit-content !important;
  margin: 45px auto;
  display: table; }

.input-box {
  margin-bottom: 27px; }
  .input-box .input-label {
    margin: 0px;
    margin-left: 10px;
    font-family: Objectivity-Medium;
    font-size: 13.3px;
    font-color: #939393;
    margin-bottom: 10px; }
  .input-box .textI {
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-appearance: none;
    padding-left: 20px;
    border: 0px;
    font-family: Objectivity-Medium;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 4px 12px 1px rgba(197, 197, 197, 0.5); }

.select-values-container {
  height: fit-content;
  margin-bottom: 10px; }

.select-values-wrapper, .select-calender-wrapper, .passenger-sel-wrapper {
  border-radius: 8px;
  box-shadow: 1px 4px 12px 1px rgba(197, 197, 197, 0.5);
  height: fit-content;
  margin-top: 8px;
  background-color: white; }

.value {
  margin-top: 5px;
  margin-left: 8.8px;
  font-family: Objectivity-Medium;
  font-size: 13.2px;
  color: #4f4f4f;
  cursor: pointer; }

.select-value-wrapper {
  display: flex;
  height: 19px;
  padding: 5.6px 20px; }

.value-border {
  width: 3.2px;
  height: 100%;
  border-radius: 1.6px;
  background-color: #2789f0; }

.form-container {
  width: 449px;
  color: #4f4f4f; }

.twocol {
  width: 100%;
  display: table;
  margin-bottom: 27px; }
  .twocol .input-box {
    font-size: 13.2px;
    display: table-cell; }
  .twocol .sh-box {
    cursor: pointer;
    width: max-content;
    display: flex; }
  .twocol .textI {
    height: auto;
    padding: 14px 60px 14px 14px; }

.dropdown {
  position: relative; }

.dropdown :after {
  content: '\f078';
  font: normal normal normal 11px/1 FontAwesome;
  color: #0ebeff;
  right: 19px;
  top: 4px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none; }

.ddate {
  width: 1px; }

.drpar {
  width: 13px;
  height: 8px;
  fill: #2789f0;
  position: relative;
  top: 16px;
  right: 24px; }

.select-calender-wrapper {
  width: 95%; }

.calender-head {
  display: flex;
  padding: 11.2px 21.6px 9.4px 21.6px; }
  .calender-head #l-cal-arrow,
  .calender-head #r-cal-arrow {
    cursor: pointer;
    width: 10px;
    height: 10px;
    fill: #2789f0; }

#l-cal-arrow {
  transform: rotate(90deg); }

#cal-month {
  font-family: Objectivity-Medium;
  font-size: 11.7px;
  line-height: 16.8px;
  margin: auto; }

#r-cal-arrow {
  transform: rotate(270deg); }

.dates-container {
  padding: 18.4px;
  grid-gap: 8px;
  display: grid;
  grid-column-gap: 0px;
  grid-template: ' 1fr 1fr 1fr 1fr 1fr 1fr 1fr';
  font-family: Objectivity-Medium;
  font-size: 11.7px; }
  .dates-container .cal-day {
    font-size: 8.5px; }
  .dates-container .selected,
  .dates-container day:hover {
    background-color: #2789f0;
    border-radius: 50%;
    color: white; }
  .dates-container div,
  .dates-container day {
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    width: 22.4px;
    height: 16.4px; }

.passenger-sel-wrapper {
  height: 40px;
  width: 98%; }
  .passenger-sel-wrapper .tt {
    margin-left: 12px;
    margin-top: 14px; }
  .passenger-sel-wrapper .tt,
  .passenger-sel-wrapper div {
    font-family: Objectivity-Medium;
    font-size: 13.2px; }
  .passenger-sel-wrapper plus,
  .passenger-sel-wrapper red {
    cursor: pointer;
    padding: 0px 13px;
    font-size: 20.5px;
    color: #2789f0; }

.passenger-sel-container {
  display: flex; }

.sel-counter {
  margin-left: auto;
  margin-top: 10px;
  width: fit-content; }

.passengers, .flight-class {
  font-size: 13.2px;
  width: 238px; }
  .passengers .textI, .flight-class .textI {
    display: flex;
    height: auto;
    padding: 14px 60px 14px 14px; }
  .passengers .sh-box, .flight-class .sh-box {
    cursor: pointer;
    display: flex; }

.blue-back {
  background-color: #2789f0;
  color: white; }
  .blue-back plus,
  .blue-back red {
    color: white; }

.flight-class {
  width: 280px; }
  .flight-class .textI,
  .flight-class .select-values-wrapper,
  .flight-class .select-calender-wrapper,
  .flight-class .passenger-sel-wrapper {
    background-color: #f3f3f3; }
  .flight-class .sh-box {
    width: 106%; }

.drp-cn {
  display: flex; }
  .drp-cn .active-cn, .drp-cn .inactive-cn, .drp-cn .focus-cn {
    margin-right: 120px; }

.focused .textI {
  box-shadow: 1px 3px 10px 1px #d1d8fc; }

.inactive {
  filter: grayscale(100%) opacity(50%); }
  .inactive svg, .inactive .textI {
    cursor: default; }

/*# sourceMappingURL=dropdown.css.map */
